<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFiles</key>
	<array/>
	<key>CFBundleIdentifier</key>
	<string>org.breeno.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>Accomplishments</key>
	<array>
		<dict>
			<key>image</key>
			<string>1.png</string>
			<key>year</key>
			<integer>1977</integer>
			<key>title</key>
			<string>APPLE II</string>
			<key>description</key>
			<string>Steve Jobs famously started Apple Computer in his parents&apos; garage with his friend Steve Wozniak. Wozniak would say later he was the engineer on the team, while Jobs was the big-think guy.</string>
		</dict>
		<dict>
			<key>image</key>
			<string>2.png</string>
			<key>year</key>
			<integer>1981</integer>
			<key>title</key>
			<string>APPLE III</string>
			<key>description</key>
			<string>If something works, you make it bigger and better, right? Steve Jobs learned otherwise. The Apple III was meant as a business computer, more powerful than its predecessors.</string>
		</dict>
		<dict>
			<key>image</key>
			<string>3.png</string>
			<key>year</key>
			<integer>1984</integer>
			<key>title</key>
			<string>The Macintosh</string>
			<key>description</key>
			<string>Everybody called it the Mac. It was an artfully rounded box with a black and white screen and places to plug in a keyboard and a mouse. The earliest computer mouse dated back to the 1960s; Steve Jobs made it popular.</string>
		</dict>
		<dict>
			<key>image</key>
			<string>4.png</string>
			<key>year</key>
			<integer>1985</integer>
			<key>title</key>
			<string>The NeXT Computer</string>
			<key>description</key>
			<string>In 1985, at the age of 30, Steve Jobs was fired by his own company. He lost a power struggle with John Scully, the man he had brought in to run Apple while he specialized in developing products.</string>
		</dict>
		<dict>
			<key>image</key>
			<string>5.png</string>
			<key>year</key>
			<integer>2000</integer>
			<key>title</key>
			<string>The Cube</string>
			<key>description</key>
			<string>You have to admit it was original. This small desktop computer was a work of art, encased in a cube of clear plastic. It had no cooling fan -- heat naturally rose from its top -- so it was almost silent.</string>
		</dict>
		<dict>
			<key>image</key>
			<string>6.png</string>
			<key>year</key>
			<integer>2001</integer>
			<key>title</key>
			<string>The iPod</string>
			<key>description</key>
			<string>By 2001 the music industry was on its knees. The advent of digital recording had made it possible for people to copy music without losing audio quality -- and they could now share their collections on the Internet, no matter how hard record labels tried to stop them. There was no need for people to buy CDs.</string>
		</dict>
		<dict>
			<key>image</key>
			<string>7.png</string>
			<key>year</key>
			<integer>2006</integer>
			<key>title</key>
			<string>Refining the Laptop</string>
			<key>description</key>
			<string>Jobs and Wozniak began Apple with a desktop computer, then helped make it obsolete. Laptops -- made by Apple and others -- now did everything a desktop could. With the MacBook, Jobs liberated Apple from its niche role in the personal computer business. By 2008 it was the best-selling laptop brand in American retail stores.
</string>
		</dict>
		<dict>
			<key>image</key>
			<string>8.png</string>
			<key>year</key>
			<integer>2007</integer>
			<key>title</key>
			<string>The iPhone</string>
			<key>description</key>
			<string>The revolution of the smartphone (and the obsessive, frantic buyer&apos;s need to have one) started with typical Apple fanfare.</string>
		</dict>
		<dict>
			<key>image</key>
			<string>9.png</string>
			<key>year</key>
			<integer>2010</integer>
			<key>title</key>
			<string>The iPad</string>
			<key>description</key>
			<string>It&apos;s so simple. It&apos;s so flat. It does everything. The iPad, introduced by Jobs in 2010, has revolutionized what Jobs revolutionized at the beginning of his career. Its touch screen can be used for video, movies, digital books, games, accounting, writing, email -- almost anything, because the screen shows almost anything a software developer can conceive.</string>
		</dict>
	</array>
</dict>
</plist>
